<div class="contact">
<div class="mb-3 ">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <button style="margin-top: 20px;" class="btn btn-success" type="submit">Send</button>
</div>
</div>
