<div class="container">

  <div class="row align-items-start">

    <div class="col card" style="width: 20rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ095GWGls41UWXO_MLMtvFZZdf513bBOmyg&usqp=CAU" class="card-img-top" alt="nosotros">
      <div class="card-body">
        <h5 class="card-title">Music App</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, obcaecati animi! Illo, quia a! Molestias ad fugiat iste, magnam culpa at quam voluptates eius dolore aut nulla nam reprehenderit dignissimos!</p>
      </div>
    </div>

    <div class="col card" style="width: 20rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUwIZMxmTYe2gYSnkWaEmwf-BJhIvh5RClHg&usqp=CAU" class="card-img-top" alt="eventos">
      <div class="card-body">
        <h5 class="card-title">Eventos</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, obcaecati animi! Illo, quia a! Molestias ad fugiat iste, magnam culpa at quam voluptates eius dolore aut nulla nam reprehenderit dignissimos! Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <a  [routerLink]="['/login']" class="btn btn-success btn-blog">Registrate!</a>
  <router-outlet></router-outlet>
