/* .image{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCK_qRe7sAY5mC5YQIbo7Y-pfOPcWvW7ppwQ&usqp=CAU');
  background-size:contain;
background-position-y: 30px;
background-repeat: no-repeat;
} */
