<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner home-carousel">
    <div class="carousel-item active">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-Gnee1OSMHTKbVGDaqLaF2Tf55MmGv74FZA&usqp=CAU" class="d-block w-100" alt="music life">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSROApOCrTYwNsGIXixlHAy1wo_x53hlVGFFA&usqp=CAU" class="d-block w-100" alt="guitar">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU20gfoIk6c9QfUYEU2Wko3m97XAKgVVDl4A&usqp=CAU" class="d-block w-100" alt="music concert">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi7c6s6CwT46tqHf7Ls3kZvzP_b6b5vyhHqQ&usqp=CAU" class="d-block w-100" alt="dance">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
