<div class="card bg-dark text-white">
  <div class="card-header bg-primary">{{title}}</div>

  <div class="card-body formNewSong" >
    <form #songForm="ngForm">

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" name="nombre" [(ngModel)]="record.name" class="form-control newSong-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="gender" class="col-form-label col-sm-2">Gender</label>
        <div class="col-sm-6">
          <input type="text" name="gender"  [(ngModel)]="record.gender" class="form-control newSong-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="singer" class="col-form-label col-sm-2">Singer</label>
        <div class="col-sm-6">
          <input type="text" name="singer"  [(ngModel)]="record.singer" class="form-control newSong-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="price" class="col-form-label col-sm-2">Price</label>
        <div class="col-sm-6">
          <input type="number" name="price" [(ngModel)]="record.price" class="form-control newSong-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="image" class="col-form-label col-sm-2">Imagen</label>
        <div class="col-sm-6">
          <input type="text" name="image" [(ngModel)]="record.image" class="form-control newSong-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input type="date"  class="form-control newSong-input" [(ngModel)]="record.createdAt" name="createAt" >

        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="botton" (click)="create()" *ngIf="!record.id else elseBlock">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary newSong-btn" role="button" (click)='update()'>Editar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
